---
import FloatingText from './FloatingText.astro';

const verticalImageUrl =
  'https://res.cloudinary.com/sagyo/image/upload/v1709086307/web/office_njrewn.webp';
const horizontalImageUrl =
  'https://res.cloudinary.com/sagyo/image/upload/v1709092297/web/bamboo_fxydoq.webp';
---

<Fragment>
  <div class='relative col-span-5 h-fit w-full border-2 border-japanese-light/35 max-lg:hidden'>
    <img
      class='aspect-[2/3] w-full object-cover brightness-[0.8] contrast-[1.1] hue-rotate-15'
      src={verticalImageUrl}
      alt=''
    />
  </div>
  <div class='relative col-span-7 flex flex-col max-lg:col-span-12'>
    <div class='ml-auto w-fit'>
      <h3
        class='w-fit text-end font-hanamin text-[clamp(2rem,3.75rem,4vw)] tracking-wide text-japanese-light max-lg:text-start max-lg:text-[min(8vw,3.75rem)]'
      >
        Recover<br />your soul
      </h3>
      <div class='my-12 flex'>
        <p class='w-0 flex-1 max-lg:w-fit'>
          An old Japanese spa resort offers a unique and authentic experience that is deeply rooted
          in{' '}<b>Japanese history and culture</b>. Guests can immerse themselves in traditional
          spa treatments and relaxation techniques, as well as enjoy the natural beauty of the
          surrounding area.
        </p>
      </div>
      <FloatingText variant='dark' class='top-0 -translate-y-1/4 items-end'>
        日本とその文化<br />&nbsp; 今日は日本
      </FloatingText>
      <FloatingText variant='light' class='top-0 -translate-x-full translate-y-8 items-end'>
        日本とその文化<br />&nbsp; 今日は日本
      </FloatingText>
    </div>
    <div class='mt-auto w-full border-2 border-japanese-light/35'>
      <img
        class='aspect-[3/1] w-full object-cover brightness-[65%] contrast-[1.1]'
        src={horizontalImageUrl}
        alt=''
      />
    </div>
    <FloatingText variant='orange' class='bottom-0 translate-y-[85%] items-end'>
      スあを<br />へな休<br />いたま<br />ゾのせ<br />一魂る<br />トを<br />&nbsp; &nbsp; 休
    </FloatingText>
  </div>
</Fragment>
