---
import FloatingText from './FloatingText.astro';
import JapaneseButton from './JapaneseButton.astro';

const cuisineImageUrl =
  'https://res.cloudinary.com/sagyo/image/upload/v1709316332/web/japanese-cuisine_v48pjk.webp';
---

<Fragment>
  <h3
    class='col-span-12 mb-12 ml-auto mt-32 text-end font-hanamin text-[clamp(2rem,3.75rem,4vw)] text-japanese-light -lg:text-[min(7vw,3.75rem)]'
  >
    traditional<br />cuisin
  </h3>
  <div class='col-span-4 flex flex-col gap-8 -lg:order-last -lg:col-span-full'>
    <p class='whites max-w-xs -lg:max-w-none'>
      The restaurant at this spa resort offers a one‑of‑a‑kind dining experience, serving up
      <b>traditional Japanese cuisine</b> that shocases the flavors and ingredients of the region.
    </p>
    <p class='max-w-xs -lg:max-w-none'>
      From sashimi and sushi to tempura and udon noodles, every dish is prepared with care and
      attention to detail, ensuring a truly authentic and unforgettable culinary experience.
    </p>
    <a href='#' class='group mt-auto'>
      <JapaneseButton overflow={true}>Book your paradise</JapaneseButton>
    </a>
  </div>
  <div class='relative col-span-8 -lg:col-span-full -lg:mb-12'>
    <div class='border-2 border-japanese-light/35'>
      <img
        class='aspect-[4/3] object-cover opacity-75 saturate-[1.25]'
        src={cuisineImageUrl}
        alt=''
      />
      <FloatingText variant='dark' class='container top-0 -translate-y-1/2 items-end'>
        日本とその文化<br />&nbsp; 今日は日本
      </FloatingText>
    </div>
  </div>
</Fragment>
