---
import FloatingText from './FloatingText.astro';

const bigOnsenImageUrl =
  'https://res.cloudinary.com/sagyo/image/upload/v1709161683/web/onsen_n9zm3r.webp';
const mediumOnsenImageUrl =
  'https://res.cloudinary.com/sagyo/image/upload/v1709147268/web/ryokan_okunoyu_e6ifmv.webp';
const mediumOnsenImageUrl2 =
  'https://res.cloudinary.com/sagyo/image/upload/v1709162150/web/onsen2_ellltr.webp';
---

<Fragment>
  <h3
    class='col-span-12 mb-12 mt-36 font-hanamin text-[clamp(2rem,3.75rem,4vw)] tracking-wide text-japanese-light max-md:text-[min(7vw,3.75rem)]'
  >
    outdoor baths
  </h3>
  <div class='relative col-span-6 h-fit'>
    <div class='border-2 border-japanese-light/35 max-lg:hidden'>
      <img
        class='aspect-[9/10] w-full object-cover brightness-75 contrast-[1.15]'
        src={bigOnsenImageUrl}
        alt=''
      />
    </div>
    <FloatingText
      variant='orange'
      class='bottom-0 left-1/4 h-max translate-y-1/4 items-center -xs:hidden'
    >
      <br />あなたの魂を休 &nbsp; &nbsp; あなたの魂を休
    </FloatingText>
  </div>
  <div class='col-span-6 grid grid-cols-6 gap-x-12 max-lg:col-span-full max-lg:gap-6'>
    <div class='col-span-3 h-fit border-2 border-japanese-light/35'>
      <img
        class='aspect-[2/3] w-full object-cover brightness-75 contrast-[1.15]'
        src={mediumOnsenImageUrl}
        alt=''
      />
    </div>
    <div
      class='col-span-3 h-fit border-2 border-japanese-light/35 max-lg:col-span-3 max-lg:col-start-4 max-lg:mb-12'
    >
      <img
        class='aspect-[2/3] w-full object-cover brightness-75 saturate-[0.85] max-lg:aspect-[3/4]'
        src={mediumOnsenImageUrl2}
        alt=''
      />
    </div>
    <p class='col-span-full mt-auto max-lg:-order-1 max-lg:mb-12'>
      <b>Personal outdoor baths</b>, also known as <b>rotenburo</b>, are a beloved Japanese
      tradition that dates back centuries. These natural hot spring baths provide a unique and
      relaxing experience that allows visitors to immerse themselves in nature while soaking in the
      warm, mineral-rich water.
    </p>
  </div>
</Fragment>
