---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

interface Props extends HTMLAttributes<'div'> {
  variant: 'dark' | 'light' | 'orange';
}

const { variant } = Astro.props;
---

<div
  aria-hidden='true'
  class={twMerge(
    'container flex absolute left-1/2 -translate-x-1/2 font-yuji [writing-mode:vertical-lr] -z-10 whitespace-nowrap',
    variant === 'dark' && 'text-japanese-dark/30 text-7xl',
    variant === 'light' && 'text-japanese-light/[2%] text-7xl',
    variant === 'orange' && 'text-japanese-orange/35 text-4xl',
    'leading-[1.15]',
    Astro.props.class,
  )}
  {...Astro.props}
>
  <slot />
</div>
