---
import ChevronRight from '@/assets/ChevronRight';
import JapaneseLogo from '@/assets/JapaneseLogo';
---

<header
  class:list={[
    'top-0 z-10 flex h-24 w-full bg-gradient-to-b from-japanese-dark/25',
    '-md:sticky -md:bg-japanese-dark/90',
  ]}
>
  <nav
    class:list={[
      'container mx-auto flex items-center text-japanese-light/75',
      '-md:relative -md:justify-between',
    ]}
  >
    <a href='#'>
      <JapaneseLogo className='h-10 text-japanese-orange' />
    </a>
    <div class='group ml-[10%] flex-1 items-center justify-center -md:m-0 -md:flex -md:h-full'>
      <div id='navbarToggle' class='ml-auto rotate-90 text-japanese-light/60 md:hidden'>
        <ChevronRight />
      </div>

      <ul
        id='headerNav'
        class:list={[
          'inset-0 flex h-fit gap-12 overflow-hidden text-center',
          'rotat -md:fixed -md:left-1/2 -md:mt-24 -md:h-0 -md:w-screen -md:-translate-x-1/2 -md:flex-col -md:gap-5 -md:bg-japanese-dark/90 -md:text-center',
        ]}
      >
        <li><a href='#'>Main Page</a></li>
        <li><a href='#'>Booking</a></li>
        <li><a href='#'>Gallery</a></li>
        <li><a href='#'>Contact</a></li>
        <!-- TODO: Make dropdown -->
        <a href='#' class='ml-auto -md:m-0'>
          Eng
          <span class='mt-0.5 -md:absolute'>&nbsp;&blacktriangledown;</span></a
        >
      </ul>
    </div>
  </nav>
</header>

<script>
  const toggler = document.querySelector('#navbarToggle');
  const nav = document.querySelector('#headerNav');

  document.addEventListener('click', (e) => {
    if (!toggler?.contains(e.target as HTMLElement)) {
      toggler?.classList.remove('-md:-rotate-90');
      nav?.classList.add('-md:h-0');
      nav?.classList.remove('-md:pb-5');
    }
  });

  toggler?.addEventListener('click', () => {
    toggler.classList.toggle('-md:-rotate-90');
    nav?.classList.toggle('-md:h-0');
    nav?.classList.toggle('-md:pb-5');
  });
</script>
