---
import JapaneseLogo from '@/assets/JapaneseLogo';
---

<header class='flex h-24 w-full bg-gradient-to-b from-japanese-dark/25'>
  <nav class='container mx-auto flex items-center text-japanese-light/75'>
    <a href='#'>
      <JapaneseLogo className='h-10 text-japanese-orange' />
    </a>
    <ul class='ml-[10%] flex flex-1 gap-12'>
      <li><a href='#'>Main Page</a></li>
      <li><a href='#'>Booking</a></li>
      <li><a href='#'>Gallery</a></li>
      <li><a href='#'>Contact</a></li>
    </ul>
    <!-- TODO: Make dropdown -->
    <a href='#'>Eng &blacktriangledown;</a>
  </nav>
</header>
