---
import FloatingText from './FloatingText.astro';
import JapaneseButton from './JapaneseButton.astro';
import Stamp from './Stamp.astro';

const imageUrl =
  'https://res.cloudinary.com/sagyo/image/upload/v1709066140/web/japan-pagoda_gowzrf.webp';
---

<section class='relative -mt-24'>
  <div
    class='container mx-auto flex min-h-screen flex-1 flex-col items-center justify-center gap-8 pt-24 text-center'
  >
    <!-- Main -->
    <h1
      class='font-hanamin text-japanese-light text-[clamp(4rem,6rem,5.5vw)] leading-none max-lg:text-[min(12vw,6rem)] max-lg:leading-normal'
    >
      japan <br class='hidden max-lg:block' /> is here
    </h1>
    <h2>Book your visit online with 10% discount!</h2>
    <JapaneseButton>Book</JapaneseButton>

    <!-- Background image -->
    <div
      class={'absolute inset-0 size-full bg-center bg-cover -z-10 bg-no-repeat -hue-rotate-15 background'}
    >
    </div>
    <!-- Background texture -->
    <div
      class='bg-texture absolute inset-0 -z-10 size-full opacity-30 mix-blend-multiply'
      style={{ backgroundSize: '100% 100vh' }}
    >
    </div>
    <!-- Background big kanji -->
    <div
      aria-hidden='true'
      class='font-yuji text-japanese-dark absolute top-0 -z-10 flex h-full w-full items-center justify-center overflow-hidden text-[100vh] opacity-[17%]'
    >
      魂
    </div>
    <!-- Background stamps -->
    <div class='absolute -z-10 size-full h-screen'>
      <Stamp image='pagoda' class='absolute right-[37%] container mt-24 opacity-[5%]' />
    </div>

    <!--  -->
    <FloatingText variant='orange' class='text-japanese-orange/50 bottom-0 translate-y-[30%]'>
      &nbsp; スパリゾート
      <br /> &nbsp;&nbsp;&nbsp; &nbsp; あなたの魂を休
      <br />&nbsp; を休ませる
      <br /> あなとの
    </FloatingText>
    <FloatingText
      variant='dark'
      class='text-japanese-dark/10 top-0 items-end pt-12 text-8xl leading-normal'
    >
      日本とその文化<br />&nbsp; 今日は日本
    </FloatingText>
  </div>
</section>

<style define:vars={{ imageUrl: `url("${imageUrl}")` }}>
  @import 'tailwindcss';
  @reference "../../styles/globals.css";

  .background {
    background-image:
      linear-gradient(
        to right,
        color-mix(in oklch, var(--color-japanese-dark) 85%, transparent),
        color-mix(in oklch, var(--color-japanese-dark) 85%, transparent)
      ),
      var(--imageUrl);
  }
</style>
