---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

interface Props extends HTMLAttributes<'div'> {
  overflow?: boolean;
}

const { overflow } = Astro.props;
const backgroundImage = '/img/japanese-circle.png';
---

<button
  class={twMerge(
    'size-32 text-xl relative z-0 group cursor-pointer',
    overflow && 'p-12 overflow-visible whitespace-nowrap',
    Astro.props.class
  )}
>
  <div
    class='absolute inset-0 -z-10 size-full rotate-45 bg-cover transition-transform duration-1000 ease-out group-hover:rotate-12'
    style={{ backgroundImage: `url(${backgroundImage})` }}
  >
  </div>
  <slot />
</button>
