---
import Details from '@/components/JapaneseSpa/Details.astro';
import Footer from '@/components/JapaneseSpa/Footer.astro';
import Header from '@/components/JapaneseSpa/Header.astro';
import Hero from '@/components/JapaneseSpa/Hero.astro';
import StampStripe from '@/components/JapaneseSpa/StampStripe.astro';
import Layout from '@/layouts/Layout.astro';
import { showcaseItems } from '@/showcase';

const textureUrl =
  'https://res.cloudinary.com/sagyo/image/upload/v1709272755/web/bg-texture_jnra2k.webp';
const borderUrl =
  'https://res.cloudinary.com/sagyo/image/upload/v1709274127/web/bg-borders_tly2yh.svg';
---

<Layout title={showcaseItems.JapaneseSpa.title} navigator={showcaseItems.JapaneseSpa}>
  <Fragment slot='head'>
    <link
      href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'
      rel='stylesheet'
    />
    <link href='https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap' rel='stylesheet' />
  </Fragment>

  <div
    class='font-montserrat text-jp-light/75 z-0 flex h-full flex-col leading-relaxed'
    style={{ backgroundColor: '#171c1a' }}
  >
    <Header />
    <Hero />
    <Details />
    <Footer />

    <!-- Background texture -->
    <div
      class='bg-texture absolute inset-0 -z-20 h-[calc(100%-100vh)] w-full translate-y-[100vh] bg-contain mix-blend-multiply'
    >
    </div>
    <!-- Background border -->
    <div
      class='bg-border absolute inset-0 -z-10 h-[calc(100%-100vh)] w-full translate-y-[100vh] bg-contain opacity-10 [box-shadow:inset_0_1rem_2rem_black]'
    >
    </div>
    <!-- Background stamps -->
    <StampStripe
      class='-z-10 px-32'
      stamps={[
        { image: 'sakura' },
        { image: 'pagoda' },
        { image: 'daruma', position: 'end', dark: false },
        { image: 'koi', position: 'center' },
        { image: 'pagoda' },
      ]}
    />
  </div>
</Layout>

<style
  is:global
  define:vars={{ textureUrl: `url("${textureUrl}")`, borderUrl: `url("${borderUrl}")` }}
>
  @import 'tailwindcss';
  @reference "../styles/globals.css";

  /* Pre Tailwind v4 compatibility fix */
  @utility container {
    @apply mx-auto pr-8 pl-8;

    @variant 2xl {
      @apply max-w-[1400px]!;
    }

    @variant max-sm {
      @apply w-full! max-w-full!;
    }
  }

  @font-face {
    font-family: 'Faux Hanamin';
    src: url('/fonts/FauxHanamin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  a:hover {
    text-decoration: underline;
  }

  b {
    @apply text-jp-light font-medium;
  }

  p {
    @apply leading-[1.75];
  }

  .bg-texture {
    background-image: var(--textureUrl);
  }

  .bg-border {
    background-image: var(--borderUrl);
  }
</style>
