---
import ArrowLeft from '@/assets/ArrowLeft';
import type { ShowcaseItem } from '@/showcase';

interface Props extends ShowcaseItem {}

const { prev, next, sourceUrl, codeUrl } = Astro.props;
---

<!-- TODO: Show credits -->
<nav class='z-50'>
  {
    prev && (
      <a
        href={`${prev}`}
        class:list={[
          'fixed left-0 top-0 flex h-screen w-28 items-center justify-center p-4',
          'opacity-0 transition-opacity duration-300 hover:opacity-95',
          'bg-gradient-to-r from-black to-black/90',
        ]}
      >
        <ArrowLeft className='w-12 text-white' />
      </a>
    )
  }
  {
    next && (
      <a
        href={`${next}`}
        class:list={[
          'fixed right-0 top-0 flex h-screen w-28 items-center justify-center p-4',
          'opacity-0 transition-opacity duration-300 hover:opacity-95',
          'bg-gradient-to-l from-black to-black/90',
        ]}
      >
        <ArrowLeft className='w-12 rotate-180 text-white' />
      </a>
    )
  }
</nav>
