---
import Navigator from '@/components/Navigator.astro';
import type { ShowcaseItem } from '@/showcase';
import '../styles/globals.css';

interface Props {
  title: string;
  navigator: ShowcaseItem;
}

const { title, navigator } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Design-to-website showcase' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <slot name='head' />
  </head>
  <body class='relative flex min-h-screen w-full flex-col'>
    <slot />
    <Navigator {...navigator} />
  </body>
</html>

<style is:global>
  * {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
  }

  html {
    font-family: system-ui, sans-serif;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
